*{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20%;
    border: 2px solid black;
    box-shadow: 0px 2px 10px gray;
    border-radius: 5px;
    
}