*{
    margin: 10px;
    margin-left: 5px;
}

label{
    width: 200px;
}

button{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    padding: 3px;

}

button:hover{

    background-color: rgba(137, 43, 226, 0.507);
    
}

button{
    
    width: 300px;
    align-items: center;
    margin-left: 30px;
}

.errors{
    color: red;
}

