<h1>{{ isEdit ? 'Edit vehicle form' : 'create vehicle form' }}</h1>

<!-- <h1 *ngIf="isEdit">Edit vehicle form</h1>
<h1 *ngIf="!isEdit">Edit vehicle form</h1> -->


<form  [formGroup]="vehicleForm">


    <label for="">Vehicle : </label>
    <input type="text" formControlName = "Vehicle">
    <br>

    <label for="">Manufacturer : </label>
    <input type="text" formControlName = "manufacturer">
    <br>

    <label for="">Model : </label>
    <input type="text" formControlName = "model">
    <br>

    <label for="">Type : </label>
    <input type="text" formControlName = "type">
    <br>

    <label for="">Fuel : </label>
    <input type="text" formControlName = "fuel">
    <br>

    <label for="">Color : </label>
    <input type="text" formControlName = "color">
    <br>

    <label for="">Image : </label>
    <input type="text" formControlName = "image">
    <br>

    <button (click)="submit()" class="submit">Submit</button>

</form>