<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="parent">
    
    
        <form class="login-form" [formGroup]="loginform" >
            <label>Email:</label><br>
            <input type="text" placeholder="Enter your mail id" formControlName = "email">
            <br>
    
            <label for="">Password:</label><br>
            <input type="password" placeholder="Enter your password" formControlName = "password">
            <br>
            <button (click)="submit()">Submit</button>
        </form>
    
        
    </div>
    
    

</body>
</html>


