<div class="parent">
    
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="calculator">Calculator</h4>
     
        <h4 routerLink="data-binding">data-binding</h4>

        <h4 routerLink="directives">directives</h4>
        <h4 routerLink="gpay">Gpay</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="vehicle"> Vehicle</h4>
        <h4 routerLink="flipkart-app">Account details</h4>
        <h4 routerLink="mail">Mail check</h4>
        <h4 routerLink="boredom">Boredom</h4>
        <h4 routerLink="create-vehicle">Create-vehicle</h4>
        <h4 routerLink="create-student">create-student</h4>
        <h4 routerLink="employee">Employee-Form</h4>

        <hr><br>
        <button class="logout-button" (click)="logout()">Logout</button>

        
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>